[Desktop Entry]
Encoding=UTF-8
Name=Beardcoin
Comment=Beardcoin P2P Cryptocurrency
Comment[fr]=Beardcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Beardcoin, eşten eşe kriptografik sanal para birimi
Exec=beardcoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/beardcoin;
Categories=Office;Finance;
